<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Recherche chemin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="main">

    <h1>Recherche de chemin</h1>

    <h3>Personne 1</h3>
    <input id="p1" placeholder="Tape un nom...">
    <div id="suggestions1"></div>

    <h3>Personne 2</h3>
    <input id="p2" placeholder="Tape un nom...">
    <div id="suggestions2"></div>

    <br>
    <button onclick="chercher()">Rechercher</button>

    <div id="resultat"></div>

</div>

<div id="tree"></div>

<script src="{{ url_for('static', filename='js/tree.js') }}"></script>


<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>