<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="UTF-8">

    <title>Généalogie ADN</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<script>

if(!localStorage.getItem("ged_loaded")){
    window.location.href = "/";
}

</script>

<body>

<div class="menu">

    <h2>🧬 Généalogie</h2>

    <a href="/chemin">
        <button>Chemin entre deux personnes</button>
    </a>

    <button>Ancêtres communs</button>

    <button>Triangulation ADN</button>

    <button>Lieux</button>

    <button>Export Excel</button>

</div>

<div class="contenu">

    <h1>Bienvenue</h1>

    <p>

        Sélectionnez une opération dans le menu.

    </p>

</div>

</body>

</html>